<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.google.android.gm" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeNetwork"
        tools:targetApi="33">
        <activity
            android:name=".ui.postUpload.SelectClubActivity"
            android:exported="false" />
        <activity
            android:name=".ui.postUpload.UploadPollsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.postUpload.UploadPostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.community.CommunityDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register.UploadProfileActivity"
            android:exported="false" />
        <activity
            android:name=".businessLogic.upload.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.signIn.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register.PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register.SignUpAcitivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register.FormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register.RegisterAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.OnBordingActivity"
            android:exported="false"
            android:label="@string/title_activity_on_bording"
            android:theme="@style/Theme.CollegeNetwork" />
        <activity
            android:name=".ui.splashScreen.WelcomeScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.CollegeNetwork" />
    </application>

</manifest>